<ion-card (click)="goToDetails()">

  <ng-template #unavailable>Indisp.</ng-template>

  <aside [ngSwitch]="getWeatherIcon(weatherCode)">
    <ion-icon name="sunny-outline" color="primary" *ngSwitchCase="0"></ion-icon>
    <ion-icon name="cloudy-outline" color="primary" *ngSwitchCase="1"></ion-icon>
    <ion-icon name="rainy-outline" color="primary" *ngSwitchCase="2"></ion-icon>
    <ion-icon name="thunderstorm-outline" color="primary" *ngSwitchCase="3"></ion-icon>
    <ion-icon name="snow-outline" color="primary" *ngSwitchCase="4"></ion-icon>
    <ion-icon name="help-outline" color="primary" *ngSwitchDefault></ion-icon>
  </aside>

  <div class="wrapper">
    <header>
      <ion-card-header>
        <ion-card-title *ngIf="weatherStatus !== null; else unavailable">
          {{ cityName | uppercase }}
        </ion-card-title>
        <ion-card-subtitle *ngIf="weatherStatus !== null; else unavailable">
          {{ weatherStatus }}
        </ion-card-subtitle>
      </ion-card-header>

      <ion-icon [name]="isFavorited ? 'star' : 'star-outline'" (click)="favoriteCard($event)"
        [ngClass]="isFavorited ? 'star-full' : ''" />
    </header>

    <ion-card-content>
      <div class="info-badge">
        <ion-icon name="thermometer-outline"></ion-icon>
        <p *ngIf="temperature !== null; else unavailable">{{ temperature }}°C</p>
      </div>
      <p>・</p>
      <div class="info-badge">
        <ion-icon name="water-outline"></ion-icon>
        <p *ngIf="temperature !== null; else unavailable">{{ humidity }}%</p>
      </div>
    </ion-card-content>
  </div>

</ion-card>
