<ng-template #unavailable>Indisp.</ng-template>

<ion-header [translucent]="true">
  <ion-toolbar>
    <div class="header">
      <div class="ion-activatable ripple-parent" (click)="goBack()">
        <ion-icon name="arrow-back"></ion-icon>
        <ion-ripple-effect></ion-ripple-effect>
      </div>
      <ion-title>Detalhes</ion-title>
    </div>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
    <ion-card>
      <ion-icon [name]="isFavorited ? 'star' : 'star-outline'" (click)="favoriteCard()"
        [ngClass]="isFavorited ? 'star-full' : ''" id="fav-icon" />
      <ion-card-header>
          <ion-icon name="location-outline" color="primary"></ion-icon>
          <ion-card-title>{{ weather.name }}</ion-card-title>
      </ion-card-header>

      <ion-card-content>
        <div class="info-badge">
          <div [ngSwitch]="getWeatherIcon(weatherCode)" id="weather-status-icon">
            <ion-icon name="sunny-outline" *ngSwitchCase="0"></ion-icon>
            <ion-icon name="cloudy-outline" *ngSwitchCase="1"></ion-icon>
            <ion-icon name="rainy-outline" *ngSwitchCase="2"></ion-icon>
            <ion-icon name="thunderstorm-outline" *ngSwitchCase="3"></ion-icon>
            <ion-icon name="snow-outline" *ngSwitchCase="4"></ion-icon>
            <ion-icon name="help-outline" *ngSwitchDefault></ion-icon>
          </div>
          <p>{{ weatherStatus }}</p>
        </div>

        <div class="info-badge">
          <ion-icon name="thermometer-outline"></ion-icon>
          <p *ngIf="temperature !== null; else unavailable">Temperatura: {{ temperature }}°C</p>
        </div>

        <div class="info-badge">
          <ion-icon name="water-outline"></ion-icon>
          <p *ngIf="temperature !== null; else unavailable">Humidade: {{ humidity }}%</p>
        </div>
      </ion-card-content>
    </ion-card>

    <ion-card class="history-card">
      <ion-card-header>
        <div id="history-card-header">
          <ion-icon name="thermometer-outline" color="primary"></ion-icon>
          <ion-card-title>Previsão</ion-card-title>
        </div>
        <div id="history-card-date-selector">
          <div class="ion-activatable ripple-parent" (click)="decreaseSelectedDate()">
            <ion-icon name="caret-back" [ngClass]="canSelectPrev ? '' : 'icon-disabled'"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
          
          <ion-card-subtitle>{{ selectedDateLabel }}</ion-card-subtitle>
          
          <div class="ion-activatable ripple-parent" (click)="increaseSelectedDate()">
            <ion-icon name="caret-forward" [ngClass]="canSelectNext ? '' : 'icon-disabled'"></ion-icon>
            <ion-ripple-effect></ion-ripple-effect>
          </div>
        </div>
      </ion-card-header>

      <ion-card-content *ngFor="let data of currentDateWeatherData">
        <div class="hourly-data">
          <h1>{{ data.time }}</h1>
          <div> 
            <div class="info-badge">
              <ion-icon name="thermometer-outline"></ion-icon>
              <p *ngIf="temperature !== null; else unavailable">{{ data.temperature }}°C</p>
            </div>
            <p>・</p>
            <div class="info-badge">
              <ion-icon name="water-outline"></ion-icon>
              <p *ngIf="temperature !== null; else unavailable">{{ data.humidity }}%</p>
            </div>
          </div>
        </div>
      </ion-card-content>
    </ion-card>
</ion-content>
